In [26]:
# importing libaryis to 
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [2]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

In [3]:
parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [27]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'

df_iter = pd.read_csv(
        url,
        dtype=dtype,
        parse_dates=parse_dates,
        iterator=True,
        chunksize=100000,
    )

In [14]:
for data_chunk in df_iter:
    print(len(data_chunk))

In [16]:
df = next(df_iter)

### GETTING THE DDL

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
# Creating connection to postgresql database
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# Testing if connection is successful
try:
    with engine.connect() as connection:
        # Run a simple query
        result = connection.execute(text("SELECT 1"))
        print("Connection successful:", result.scalar() == 1)
except Exception as e:
    print("Connection failed:", e)

In [23]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [30]:
first= True
for df_chunk in tqdm(df_iter):
        if first:
            df_chunk.head(0).to_sql(
                name='yellow_taxi_data',
                con=engine,
                if_exists='replace'
            )
            first = False

        df_chunk.to_sql(
            name='yellow_taxi_data',
            con=engine,
            if_exists='append'
        )

0it [00:00, ?it/s]

In [34]:
import requests
import pandas as pd

In [43]:
 # data ingestion for for the taxi_zone_lookup table

import pandas as pd
import requests
from io import StringIO

# Target URL
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"

# Spoof headers to mimic a browser
headers = {
    "User-Agent": "Mozilla/5.0"
}

# Fetch the content
response = requests.get(url, headers=headers)
response.raise_for_status()  # Raise error if download fails

# Load into pandas
csv_data = StringIO(response.text)
df_zone = pd.read_csv(csv_data)

In [45]:
#### looki# Preview
print("Shape:", df_zone.shape)
print("Columns:", df_zone.columns)

Shape: (265, 4)
Columns: Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       264 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [42]:
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [47]:
### creating connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [48]:
# creating the zone table 
df_zone.head(n=0).to_sql(name='zone', con=engine, if_exists='replace')

0

In [50]:
### inserting data ino the table
df_zone.to_sql(name='zone', con=engine, if_exists='append')

265