In [14]:
## importing the key libaries
# importing libaryis to 
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm
import pyarrow.parquet as pq
import requests

In [2]:
url_green = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"

url_location = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [3]:
## reading in the green taxi dataset
df = pd.read_parquet(url_green, engine="pyarrow")  #

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  str
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), str(1)
memory usage: 7.0 MB

In [6]:
df.size

985152

In [7]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='str')

In [8]:
df.shape

(46912, 21)

In [9]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [10]:
# Creating connection with postgress database running on docker environment

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
# getting the schema of the green taxi dataset
print(pd.io.sql.get_schema(df, name='Green_taxi_data', con=engine))

CREATE TABLE "Green_taxi_data" (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [22]:
### USING PARQUET FILE WHhich is a longer process as compared to
# Download parquet file locally
url_green = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"
local_file = "green_tripdata_2025-11.parquet"

with requests.get(url_green, stream=True) as r:
    r.raise_for_status()
    with open(local_file, "wb") as f:
        for chunk in r.iter_content(chunk_size=10000):
            f.write(chunk)

# Open parquet file with PyArrow
pf = pq.ParquetFile(local_file)

first = True
for rg in tqdm(range(pf.num_row_groups), desc = "writing data to postgress"):
    df_chunk = pf.read_row_group(rg).to_pandas()

    if first:
        # Create table schema
        df_chunk.head(0).to_sql(
            name="green_taxi_data",
            con=engine,
            if_exists="replace",
            index=False
        )
        first = False
        # Append chunk to table
    df_chunk.to_sql(
        name="green_taxi_data",
        con=engine,
        if_exists="append",
        index=False
        )

writing data to postgress:   0%|          | 0/1 [00:00<?, ?it/s]

In [24]:
# connection and writing data to the postgress database
import pandas as pd
from sqlalchemy import create_engine
from tqdm import tqdm

# Database connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# Load entire parquet file into memory
url_green = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"
df = pd.read_parquet(url_green, engine="pyarrow")

# Batch size
batch_size = 1000

# Create table schema first
df.head(0).to_sql(
    name="green_taxi_data",
    con=engine,
    if_exists="replace",
    index=False
)

# Write data in 100-row chunks
for start in tqdm(range(0, len(df), batch_size), desc="Writing rows in batches"):
    end = start + batch_size
    df_chunk = df.iloc[start:end]
    df_chunk.to_sql(
        name="green_taxi_data",
        con=engine,
        if_exists="append",
        index=False
    )

Writing rows in batches: 100%|███████████████████████████████████████████████████████████████████████| 47/47 [00:05<00:00,  7.88it/s]

In [27]:
# Target URL
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

# Spoof headers to mimic a browser
df_lu = pd.read_csv(url)

In [28]:
df_lu.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [29]:
df_lu.info()

<class 'pandas.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    str
 2   Zone          264 non-null    str
 3   service_zone  263 non-null    str
dtypes: int64(1), str(3)
memory usage: 16.9 KB

In [35]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
# Step 1: Create table schema using header only
df_lu.head(0).to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="replace",  # overwrite if table exists
    index=False
)

# Step 2: Insert all rows (except header)
df_lu.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="append",   # append rows into the schema
    index=False
)

print(f'✅ Taxi Zone Lookup table created and {len(df_lu)} rows of data inserted!')

✅ Taxi Zone Lookup table created and 265 rows of data inserted!